@use "theme";
@use "breakpoints";

.container {
  background-color: theme.$tannish;
  color: theme.$blue-gray;
  width: 90%;
  max-width: 900px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  gap: 10px;
}

.rowContainer {
  display: flex;
  align-items: center;

  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 5px;
  }

  .deleteIcon {
    margin-left: auto;
    display: none;
  }

  &:hover {
    .deleteIcon {
      display: block;
    }
  }
}

.emptyCartMessage {
  font-weight: 700;

}