@use "theme";

.container {
  height: 100vh;
  width: 100vw;
  background-color: theme.$blue-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.messageComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: theme.$cream
}