@use "theme";

.actionButton {
  width: fit-content;
  background-color: theme.$tannish;
  color: theme.$blue-gray;
  font-weight: 600;
  font-size: 1.4em;
  padding: 15px 25px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: scale-color(theme.$tannish, $lightness: -10%);
}

.returnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;

  p {
    font-weight: 700;
    font-size: 1.2em;
    color: theme.$tannish;
  }
}