@use "theme";
@use "breakpoints";

.container {
  background-color: theme.$blue-gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
}

.galleryItemContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

.itemInfo:hover {
  background-color: transparentize(theme.$blue-gray, 0.3);
  color: theme.$cream;
}

@media screen and (max-width: breakpoints.$mobile) {
  .container {
    background-color: theme.$blue-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
}