@use "theme";

.header {
  width: 100vw;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  
  div {
    display: flex;
    align-items: center;
  }

  .logoDiv {
    cursor: pointer;
  }

  .backArrow {
    position: absolute;
    left: 40px;
    top: 40px;
    cursor: pointer;

    &:hover {
      transform: translateX(-5px);
    }
  }
}