@use "theme";
@use "breakpoints";

.pageContainer {
  height: 100vh;
  background-color: theme.$blue-gray;
  color: theme.$cream;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 30px;
}

.headerItemContainer {
  display: flex;
  align-items: center;
}

.returnButtonContainer {
  @extend .headerItemContainer;
  justify-content: flex-start;
}

.logoContainer {
  @extend .headerItemContainer;
  justify-content: center;
}

.cartIconContainer {
  @extend .headerItemContainer;
  justify-content: flex-end;
}

.contentContainer {
  width: 90%;
  max-width: 1100px;
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.infoContainer {
  padding: 15px 20px;
}

@media screen and (max-size: breakpoints.$mobile) {
  
}