@use "theme";

.container {
  width: fit-content;
  .inner {
    background-color: theme.$tannish;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px 20px;
    border: 3px theme.$blue-gray solid;
  }
  
  .quantity {
    font-size: 1.5em;
    font-weight: 600;
    color: theme.$blue-gray;
  }

  & {
    margin: 0px;
    padding: 0px;
  }
}