@use "theme";

.returnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;

  p {
    font-weight: 700;
    font-size: 1.2em;
    color: theme.$tannish;
  }
}