@use "theme";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 500px;
  padding: 20px;
}

.selected {
  border: 3px solid black;
}