@use "theme";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.optionContainer {
  background-color: theme.$cream;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 95%;
  padding: 20px;
  color: theme.$blue-gray;
  cursor: pointer;
}

.columnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.providerImage {
  @extend .columnDiv;
}

.provider {
  @extend .columnDiv;
  font-size: 1.3em;
}

.serviceLevel {
  @extend .columnDiv;
  font-size: 1.1em;
}

.deliveryTimeContainer {
  @extend .columnDiv;
  gap: 5px;

  .deliveryTimeLabel {
    font-size: .9em;
    font-weight: 700;
  }

  .deliveryTime {
    font-size: 1.2em;
  }
}

.price {
  @extend .columnDiv;

}

.selected {
  background-color: theme.$tannish;
}