@use "theme";
@use "breakpoints";

.sidebarContainer {
  background-color: theme.$tannish;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  align-items: center;
}

.collectionLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: theme.$blue-gray;
}

.disappearLinks {
  @extend .collectionLinkContainer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartContainer {
  display: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburgerContainer {
  display: none;
}

.collectionFilterButton {
  cursor: pointer;
}

.cartIconVertical {
  margin-top: 40px;
}

.cartIconHorizontal {
  display: none;
}

@media screen and (max-width: breakpoints.$mobile) {
  .header {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .disappearLinks {
    display: none;
    height: none;
  }

  .hamburgerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .cartIconVertical {
    display: none;
  }

  .cartIconHorizontal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}