@use "theme";
@use "breakpoints";

.sidebarContainer {
  background-color: theme.$tannish;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.collectionLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: theme.$blue-gray;
}

.disappearLinks {
  @extend .collectionLinkContainer;
}

.sidebarMain {
  display: block;
}

.cartContainer {
  display: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburgerContainer {
  display: none;
}

.collectionFilterButton {
  cursor: pointer;
}

@media screen and (max-width: breakpoints.$mobile) {
  .sidebarMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburgerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disappearLinks {
    display: none;
    height: none;
  }
}