@use "theme";
@use "breakpoints";

.pickerContainer {
  display: flex;
  gap: 0.5em;
  padding-bottom: 20px;
}

.itemContainer {
  padding: 5px 10px;
  border: 0.15em theme.$cream solid;
  cursor: pointer;

  h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 1.2em;
  }
}

.itemContainer:hover, .selected {
  background-color: theme.$cream;
  color: theme.$blue-gray;
}